.container {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: var(--space-xxl) var(--space-xl) var(--space-xxl);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
  flex-grow: 1;
}
